/*ELEMENTOS////////////////////////////////////////////////////////////////*/
h1, h2, h3 {
    font-family: 'Numans', Arial, sans-serif;
    transition: all 0.5s ease;
}

p {
    font-family: 'Numans', Arial, sans-serif;
    transition: all 0.5s ease;
}

hr {
    border: none;                   /* quitar borde por defecto */
    height: 2px;                     /* un poco más grueso que 1px para que se note */
    border-radius: 1px;              /* esquinas suaves */
}

button {
    font-family: 'Cal Sans', Arial, sans-serif;
    transform: scale(0.8);
    margin-bottom: 15px;
    margin-top: 15px;
    font-size: 14px;
    padding: 8px 12px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

/*CONTENEDORES////////////////////////////////////////////////////////////////*/ 
/*--BODY--*/
body {
    display: flex;
    flex-direction: column;
    position: relative;
    overflow-x: hidden;
    min-height: 100vh;      /* asegura que el body ocupe toda la altura */
    margin: 0;
}

/*--HEADER--*/
header {
    display: flex;
    flex-direction: row;
    justify-content: left;
    background: transparent;
}

nav {
    margin-top: 5px;
}

nav ul {
  margin: 5px;
  list-style: none;
  display: flex;
  flex-direction: row;
}

/*--MAIN--*/
main {
    text-align: center;
}

main ul {
    list-style-position: inside; /* hace que el bullet esté dentro del ancho del elemento */
    padding-left: 0;             /* elimina el padding por defecto del ul */
    margin: 1rem auto;           /* centra el ul en el contenedor */
    display: inline-block;       /* permite que el ul sea centrado como bloque */
    text-align: left;            /* mantiene los li alineados a la izquierda */
}

main p{
    margin-left: 20%;
    margin-right: 20%;
}

footer {
  margin-top: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}