# ============================
# Node / Electron
# ============================

# Dependencias
/node_modules/
# Archivos de log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Archivos de empaquetado / build
/dist/
/build/
/out/
*.asar

# ============================
# VSCode
# ============================
.vscode/
.history/

# ============================
# Sistema operativo
# ============================

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Mac
.DS_Store
.AppleDouble
.LSOverride

# Linux
*~

# ============================
# Configuración personal / local
# ============================
.env
.env.local
.env.*.local

# ============================
# Otros temporales / cachés
# ============================
.cache/
logs/
*.log
*.tmp
*.swp
