<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CV_{{ cv.personalInfo.name }} {{ cv.personalInfo.surname }}</title>
    <link rel="stylesheet" href="{{css_path}}">
    <link rel="stylesheet" href="cv_style.css">
</head>

<body>
    <main>
        <div id="columnLeft">
            <div class="section" id="profile">
                <img src="{{ photo_path }}"
                    alt="Profile picture of {{ cv.personalInfo.name }} {{ cv.personalInfo.surname }}" />
                <h1>{{ cv.personalInfo.name }} {{ cv.personalInfo.surname }}</h1>
                <p>{{ cv.personalInfo.description }}</p>
            </div>

            <div class="section" id="jobExperience">
                <h3>Work Experience</h3>
                {% for exp in cv.jobExperience %}
                <div class="exp-card">
                    <h4>{{ exp.role }}</h4>
                    <p class="job-details"><strong>{{ exp.company }}</strong> | <time datetime="{{ exp.startDate }}">{{
                            exp.startDate
                            }}</time> - <time datetime="{{ exp.endDate or 'Present' }}">{{ exp.endDate or
                            "Currently" }}</time></p>
                    <p>{{ exp.description }}</p>
                </div>
                {% endfor %}
            </div>

            <div class="section" id="abilities">
                <h3>Skills and Competencies</h3>
                <ul>
                    {% for skill in cv.skills %}
                    <li>{{ skill }}</li>
                    {% endfor %}
                </ul>
            </div>

            <div class="section" id="socialNetworks">
                <h3>Social Networks</h3>
                <div class="social-grid">
                    {% for network in cv.socialNetworks %}
                    <a href="{{ network.link_label }}" class="social-link-card">
                        <img src="{{ network.logo_link }}" alt="{{ network.name }} logo" class="social-icon">
                        <div class="social-text">
                            <span class="social-name">{{ network.name }}</span>
                            <span class="social-username">{{ network.username_label }}</span>
                        </div>
                    </a>
                    {% endfor %}
                </div>
            </div>

        </div>

        <div id="columnRight">
            <div class="section" id="contactInfo">
                <h3>Contact Information</h3>
                <p>{{ cv.personalInfo.address }}</p>
                <p><strong>Email:</strong> {{ cv.personalInfo.email }}</p>
                <p><strong>Phone:</strong> {{ cv.personalInfo.phoneNumber }}</p>
            </div>

            <div class="section" id="studies">
                <h3>Education and Certifications</h3>
                {% for study in cv.studies %}
                <div class="study-card">
                    <h4>{{ study.title }}</h4>
                    <div class="study-details">
                        <p><strong>{{ study.university }}</strong></p>
                        <p><time datetime="{{ study.startDate }}">{{ study.startDate }}</time> - <time
                                datetime="{{ study.endDate or 'Present' }}">{{ study.endDate or "Present" }}</time></p>
                    </div>
                </div>
                {% endfor %}
            </div>

            <div class="section" id="languages">
                <h3>Languages</h3>
                <ul>
                    {% for lang in cv.languages %}
                    <div class="lang-card">
                        <li><strong>{{ lang.name }}:</strong> {{ lang.level }}</li>
                    </div>
                    {% endfor %}
                </ul>
            </div>

            <div class="section" id="otherActivities">
                <h3>Other Activities</h3>
                <ul>
                    {% for activity in cv.otherActivities %}
                    <li>{{ activity }}</li>
                    {% endfor %}
                </ul>
            </div>

        </div>
    </main>
</body>

</html>